.app {
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
	&.active {
		height: 100%;
	}
	
	.main-header {
		background-color: #282c34;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
		color: white;
		padding: 2rem 2rem;
	}
}


.link {
	color: #61dafb;
}